snippet library "description"
<library file="${1:*.cc}" name="${2}">
</library>
endsnippet

snippet use "description"
<use name="${1}/${2}"/>
endsnippet

snippet flags "description"
<flags ${1}="${2}"/>
endsnippet
